// start boxs-services
.boxs-services {
    margin: 130px 0 0;
    background-color: rgba(255, 166, 0, 0.9960784314);
    padding: 40px 0;

    .main-title-services {
        font-size: 50px;
        position: relative;
        width: fit-content;
        margin: auto;
        margin-bottom: 20px;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 4px;
            border-radius: 0 10px 10px 0;
            width: 0%;
            background-color: black;
            z-index: 22;
            transition: all 0.4s;
            animation: fillWidth 1.5s infinite alternate;
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 4px;
            border-radius: 0 10px 10px 0;
            width: 100%;
            background-color: white;
        }
    }

    .content-boxs {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 25px;

        .box-services {
            background-color: white;
            padding: 20px;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .icon-box {
                text-align: center;
                width: 55px;
                height: 55px;
                border: 2px solid rgba(255, 166, 0, 0.9960784314);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                
                
                i {
                    color: rgba(255, 166, 0, 0.9960784314);
                    font-size: 25px;
                }
            }

            .title-box {
                margin: 10px 0;
                font-size: 23px;
                text-align: center;
            }

            .p-box {
                margin: 0;
                text-align: center;
                color: #5b5b5b;
            }

        }
    }
}
// end boxs-services


// start section-boxs-portfolio
.section-boxs-portfolio {
    padding: 50px 0;

    .main-title-portfolio {
        font-size: 50px;
        position: relative;
        width: fit-content;
        margin: auto;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 4px;
            border-radius: 0 10px 10px 0;
            width: 0%;
            background-color: rgba(255, 166, 0, 0.9960784314);
            z-index: 22;
            transition: all 0.4s;
            animation: fillWidth 1.5s infinite alternate;
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 4px;
            border-radius: 0 10px 10px 0;
            width: 100%;
            background-color: rgba(153, 153, 153, 0.307);
        }
    }

    .boxs-portfolio {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 25px;
        margin-bottom: 10px;
        margin-top: 30px;
        border-radius: 5px;

        .box-portfolio {
            border: 2px solid rgba(255, 166, 0, 0.9960784314);
            transition: all 0.4s;
            box-shadow: 1px 4px 12px #a5a5a5;
            padding: 20px;

            &:hover {
                transform: translateY(-15px);
            }

            .img-box-portfolio {
                height: 100%;
                width: 100%;
            }

        }
    }
}
// end section-boxs-portfolio

// start services
.section-services {
    padding: 50px 0;

    .content-services {
        display: flex;
        gap: 25px;

        .img-services {
            max-width: 100%;
            height: 500px;
        }

        .text-sevices {
            width: 50%;
            .sub-title-services {
                color: rgba(255, 166, 0, 0.9960784314);
                font-size: 20px;
            }

            .title-services {
                margin: 5px 0 10px;
                font-size: 32px;
            }

            .p-services {
                line-height: 1.7;
                font-size: 17px;
                color: #5b5b5b;
            }

            .btn-services {
                color: white;
                background-color: rgba(255, 166, 0, 0.9960784314);
                padding: 10px 25px;
                font-size: 22px;
                margin-top: 5px;
                display: inline-block;
                border-radius: 10px;
            }
        }
    }
}
// end services

@media (max-width: 1200px) {
    .img-services {
        width: 50%;
    }
}


@media (max-width: 700px) {

    .boxs-services {
        margin: 110px 0 0;
        background-color: rgba(255, 166, 0, 0.9960784314);
        padding: 20px 0;

        .main-title-services {
            font-size: 30px;
        }

        .content-boxs {
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)) ;
            gap: 25px;

            .box-services {
                padding: 10px 15px !important;
    
                .icon-box {
                    width: 40px !important;
                    height: 40px !important;
    
                    i {
                        font-size: 18px !important;
                    }
                }
    
                .title-box {
                    margin: 5px 0 !important;
                    font-size: 19px !important;
                }
    
                .p-box {
                    font-size: 13px;
                } 
            }
        }

        
    }

    .section-boxs-portfolio {
        padding: 65px 0 30px;

        .main-title-portfolio {
            font-size: 30px !important;
        }

        .boxs-portfolio {
            grid-template-columns: repeat(2, minmax(160px, 1fr));
            gap: 15px;
            padding: 8px !important;

            &:hover {
                transform: translateY(-8px);
            }

            .box-portfolio {
                padding: 10px;
            }
            
        }
    }

    .section-services {
        padding: 20px 0;
        
        .content-services  {
            flex-direction: column;

            .img-services {
                width: 100%;
                height: 250px;
            }

            .text-sevices {
                width: 100%;
                .sub-title-services {
                    font-size: 16px !important;
                }
                

                .title-services {
                    margin: 2px 0 0 !important;
                    font-size: 20px !important;
                }
                
                .p-services {
                    line-height: 1.5;
                    font-size: 13px !important;
                    margin: 0;
                }

                .btn-services {
                    padding: 5px 17px;
                    font-size: 17px !important;
                    margin-top: 10px;
                }
            }
        }
    }
}

@media (max-width: 430px) {
    .boxs-services {
        .content-boxs {
            grid-template-columns: repeat(1, minmax(150px, 1fr)) !important;
        }
    }

    .section-boxs-portfolio {
        .boxs-portfolio {
            grid-template-columns: repeat(1, minmax(150px, 1fr)) !important;
        }
    }
}